# Supabase
VITE_SUPABASE_URL=https://SEU-PROJETO.supabase.co

# Use uma das duas opções abaixo:
VITE_SUPABASE_ANON_KEY=COLE_AQUI_SUA_ANON_KEY
# ou
VITE_SUPABASE_PUBLISHABLE_KEY=COLE_AQUI_SUA_PUBLISHABLE_KEY
